<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css" rel="stylesheet">
    {% set css %}
    {% include "style.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <title>{{ title }}</title>
    {% seo "" %}
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/"> Home </a>
        </li>
        <li>
          <a href="/posts"> Posts </a>
        </li>
      </ul>
    </nav>
    <main>
      {{ content | safe }}
    </main>
  </body>

</html>